In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.
Database:
A database is a structured collection of data, organized in a way that allows efficient retrieval and management.
 It serves as a central repository for information, enabling users to store, access, update, and analyze data

SQL (Structured Query Language) Databases:
Relational: Data is organized in tables with rows and columns, forming relationships between data elements.   
Schema-driven: A predefined schema defines the structure of the data, including data types and relationships.
Examples: MySQL, PostgreSQL, Oracle, SQL Server

NoSQL (Not Only SQL) Databases:
Non-relational: Data is stored in various formats, such as key-value pairs, documents, graphs, or wide-column stores.   
Schema-less or flexible: Allows for dynamic data structures and changes without altering the schema.
Examples: MongoDB, Cassandra, Redis, Neo4

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans:Data Definition Language (DDL) is a subset of SQL used to define the structure of a database. It allows you to create, modify, and delete database objects like tables, indexes, views, and more.

In [3]:
#CREATE: Used to create new database objects.
CREATE TABLE students (
    student_id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    city VARCHAR(30)
);

In [ ]:
DROP: Used to delete existing database objects.

DROP TABLE students;

In [ ]:
ALTER: Used to modify the structure or properties of existing database objects.

ALTER TABLE students
ADD COLUMN email VARCHAR(100);

In [ ]:
TRUNCATE: Used to delete all data from a table while retaining its structure.

TRUNCATE TABLE students;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans:Data Manipulation Language (DML) is a subset of SQL used to manipulate data within a database. It allows you to insert, update, and delete data from tables.


INSERT: Used to insert new data into a table.

Ans:INSERT INTO students (student_id, name, age, city)
VALUES (1, 'Akash', 20, 'Delhi');

UPDATE: Used to modify existing data in a table.

UPDATE students
SET city = 'Hodal'
WHERE student_id = 1;

DELETE: Used to remove data from a table.

DELETE FROM students
WHERE student_id = 2;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.
Ans:Data Query Language (DQL) is a subset of SQL used to retrieve data from a database. It allows you to select, filter, and aggregate data based on specific criteria.

SELECT: Used to retrieve data from tables.

SELECT student_id, name, age
FROM students
WHERE age >= 18
ORDER BY age DESC;

In [ ]:
Q5. Explain Primary Key and Foreign Key.
Ans:A primary key is a unique identifier for each row in a table. It ensures that each row has a distinct value and prevents duplicate data.

b)=>A foreign key is a column in one table that references the primary key of another table. It establishes a relationship between the two tables, indicating that a row in one table is related to a specific row in another.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Ans:
import mysql.connector

host = "local_host"
user = "localhost"
password = "root"
database = "sql_database"
mydb = mysql.connector.connect(
    host=host,
    user=localhost,
    password=root,
    database=database
)
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM students")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

mydb.close()

Create a cursor object: The cursor() method creates a cursor object, which is used to execute SQL statements.
Execute an SQL query: Use the execute() method to execute an SQL query. In this example, we are selecting all data from the your_table table.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.
Ans: