In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
Ans:

In [1]:
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.
Ans:

In [2]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
series = pd.Series(my_list)
print(series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [3]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Ans:DataFrame in Pandas is a two-dimensional labeled data structure with columns and rows. It is similar to a spreadsheet or a SQL table. Each column in a DataFrame can be of a different data type, and each row represents a data point.

Series in Pandas is a one-dimensional labeled array. It can be thought of as a single column of a DataFrame. A Series can contain data of any data type, and each element is associated with a label.

In [4]:

series = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
data = {'Name': ['Akash', 'Bobby', 'Aman'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print(series)
print(df)

a    1
b    2
c    3
d    4
e    5
dtype: int64
    Name  Age
0  Akash   25
1  Bobby   30
2   Aman   35

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
Ans:
Here are some common functions used to manipulate data in Pandas DataFrames, along with examples:

1. Selecting and Filtering Data:

loc and iloc: These functions are used to select rows and columns based on labels or integer indices.

2. Adding and Removing Columns:

assign: Adds new columns to the DataFrame.


3. Sorting Data:

sort_values: Sorts the DataFrame based on specified columns.

4. Grouping and Aggregating Data:

groupby: Groups the DataFrame based on specified columns.

5. Filtering Data:

query: Filters the DataFrame based on a Boolean expression.

7. Merging DataFrames:

merge: Merges two DataFrames based on common columns.

In [11]:
data = {'Name': ['Akash', 'Bobby', 'Aman'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)
result1 = df.loc[df['Age'] > 25]
result2 = df.iloc[:2, :]
print(result1)
print(result2)




df['City'] = ['New York', 'Los Angeles', 'Chicago']
print(df)

df = df.drop('Age', axis=1)
print(df)

    Name  Age
1  Bobby   30
2   Aman   35
    Name  Age
0  Akash   25
1  Bobby   30
    Name  Age         City
0  Akash   25     New York
1  Bobby   30  Los Angeles
2   Aman   35      Chicago
    Name         City
0  Akash     New York
1  Bobby  Los Angeles
2   Aman      Chicago

In [9]:

df1 = pd.DataFrame({'key': ['a', 'b', 'c'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['b', 'c', 'd'], 'value2': [4, 5, 6]})

merged_df = pd.merge(df1, df2, on='key')
print(merged_df)

  key  value1  value2
0   b       2       4
1   c       3       5

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Ans:
In Pandas, both DataFrames and Panels are mutable. This means you can modify their values after creation. However, Series are immutable, meaning their values cannot be changed once created.   

Here is a breakdown:

Series: A one-dimensional labeled array. Immutable.   
DataFrame: A two-dimensional labeled data structure with columns and rows. Mutable.   
Panel: A three-dimensional labeled data structure. Mutable.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.
Ans:Create individual Series: Define each Series with its own data and index.
Combine Series into a dictionary: Create a dictionary where the keys are the column names and the values are the corresponding Series.
Create a DataFrame from the dictionary: Use the pd.DataFrame() function to create a DataFrame from the dictionary.

In [ ]:
import pandas as pd

# Create individual Series
series1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
series2 = pd.Series([4, 5, 6], index=['a', 'b', 'c'])
series3 = pd.Series([7, 8, 9], index=['a', 'b', 'c'])

# Combine Series into a dictionary
data = {'Column1': series1, 'Column2': series2, 'Column3': series3}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)