In [ ]:
Q1. List any five functions of the pandas library with execution.
Ans:

In [3]:
import pandas as pd

data = {'Name': ['Akash', 'Bobby', 'sachin'],
        'Age': [25, 30, 35]}

df = pd.DataFrame(data)

print(df)



result = df[df['Age'] > 25]

print(result)

#3. Grouping and Aggregating Data:

grouped_df = df.groupby('Name').mean()

print(grouped_df)

     Name  Age
0   Akash   25
1   Bobby   30
2  sachin   35
     Name  Age
1   Bobby   30
2  sachin   35
         Age
Name
Akash   25.0
Bobby   30.0
sachin  35.0

In [4]:
#Merging DataFrames:
df1 = pd.DataFrame({'key': ['a', 'b', 'c'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['b', 'c', 'd'], 'value2': [4, 5, 6]})

merged_df = pd.merge(df1, df2, on='key')

print(merged_df)

  key  value1  value2
0   b       2       4
1   c       3       5

In [5]:
# Sort :
sorted_df = df.sort_values(by='Age', ascending=False)

print(sorted_df)

     Name  Age
2  sachin   35
1   Bobby   30
0   Akash   25

In [ ]:
Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.
Ans:

In [ ]:
import pandas as pd

def reindex_dataframe(df):
  new_index = range(1, len(df) * 2, 2)
  df = df.set_index(new_index)

  return df
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

reindexed_df = reindex_dataframe(df)

print(reindexed_df)

In [ ]:
Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
ANs:

In [8]:
import pandas as pd

def calculate_sum(df):
  if len(df) >= 3:
    sum_of_values = df['Values'].head(3).sum()
    print("Sum of the first three values:", sum_of_values)
  else:
    print("DataFrame does not have enough rows.")
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

calculate_sum(df)

Sum of the first three values: 60

In [ ]:
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.
Ans:

In [9]:
def calculate_word_count(df):
  df['Word_Count'] = df['Text'].str.split().apply(len)
  return df
data = {'Text': ['This is a sample sentence.', 'Another sentence with more words.']}
df = pd.DataFrame(data)

df = calculate_word_count(df)

print(df)

                                Text  Word_Count
0         This is a sample sentence.           5
1  Another sentence with more words.           5

In [ ]:
Q5. How are DataFrame.size() and DataFrame.shape() different?
Ans:DataFrame.size() and DataFrame.shape() are both used to get information about a Pandas DataFrame, but they provide different types of data:

DataFrame.size() returns the total number of elements in the DataFrame. This is calculated by multiplying the number of rows and columns.
DataFrame.shape() returns a tuple containing the number of rows and columns in the DataFrame.

DataFrame.size() returns 6 (3 rows * 2 columns).
DataFrame.shape() returns (3, 2), indicating 3 rows and 2 columns

In [ ]:
Q6. Which function of pandas do we use to read an excel file?
Ans: pd.read_excel(r"data/csv")

In [ ]:
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
Ans:

In [11]:
def extract_usernames(df):
  df['Username'] = df['Email'].str.split('@').str.get(0)
  return df
data = {'Email': ['Akash1@domain.com', 'Kumar2@example.com', 'jai@company.org']}
df = pd.DataFrame(data)

df = extract_usernames(df)

print(df)

                Email Username
0   Akash1@domain.com   Akash1
1  Kumar2@example.com   Kumar2
2     jai@company.org      jai

In [ ]:
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Ans:

In [12]:
def select_rows(df):
  selected_df = df[(df['A'] > 5) & (df['B'] < 10)]

  return selected_df
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

selected_df = select_rows(df)

print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2